 *{
     margin: 0;
     padding:0;
 }

 body{
     background-color: #fff5;
     font-family: 'Open Sans', sans-serif;
 }
 .container{
    max-width: 1000px;
    background-color: aquamarine;
   margin: 0 auto;
   padding: 30px;
 }
 .pic{
  width:120px;
  height:150px ;
  border: 3px solid brown;
  border-radius: 80px;
  float: left;
 margin-right: 20px;
 }
 .name{
   float: left;
   padding-top: 40px;

 }
 h1{
     color: black;
 }
 h4,h3,h2,h5,h6{
     color: darksalmon;
 }

.contact{
    margin-top: 40px;
    float: right;
}
.contact a{
    text-decoration: none;
}
.contact a:hover{
    text-decoration: underline;
    color: orangered;
}
.div-clear{
    clear: both;
}
hr{
 border: solid black 2px;
 margin-top: 20px; 
 border-bottom: none;  
}


# personal-section{

}
.content{
    margin-top: 20px;
}
.left{
    width:30%;
    float: left;
    margin-top: 10px;
}
.right{
    width: 70%;
    float: right;
}
.common-hr{
    border: solid black 1px;
    border-top: none;

}
.working{
    margin-top: 20px;
}

.work-left{
    width: 30%;
    float: left;
    
}

.middle{
    width: 35%;
    float: left;
}

.edu-right{
    width: 35;
    float: right;
}

.footer-content{
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
}

.footer-content a{

    text-decoration: none;
    color: white;
    margin: 10px;
 

}

.footer-content p{

    margin-top: 20px;
}
